.u-section-1 .u-sheet-1 {
  min-height: 99px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 10px auto;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/image.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 739px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 771px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 591px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 443px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 760px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 953px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 358px;
  background-image: url("images/image9.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 324px auto -30px;
  padding: 0;
}

.u-section-3 .u-image-2 {
  min-height: 358px;
  background-image: url("images/image10.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 324px auto 0;
  padding: 0;
}

.u-section-3 .u-image-3 {
  min-height: 383px;
  background-image: url("images/image11.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-3 .u-btn-3 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-image-4 {
  min-height: 383px;
  background-image: url("images/image12.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-3 .u-btn-4 {
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-image-1 {
    min-height: 295px;
  }

  .u-section-3 .u-image-2 {
    min-height: 295px;
  }

  .u-section-3 .u-image-3 {
    min-height: 316px;
  }

  .u-section-3 .u-image-4 {
    min-height: 316px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-3 .u-image-1 {
    min-height: 226px;
  }

  .u-section-3 .u-image-2 {
    min-height: 226px;
  }

  .u-section-3 .u-image-3 {
    min-height: 242px;
  }

  .u-section-3 .u-image-4 {
    min-height: 242px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-3 .u-image-1 {
    min-height: 339px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 339px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 363px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 363px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-3 .u-image-1 {
    min-height: 213px;
  }

  .u-section-3 .u-image-2 {
    min-height: 213px;
  }

  .u-section-3 .u-image-3 {
    min-height: 229px;
  }

  .u-section-3 .u-image-4 {
    min-height: 229px;
  }
}